# Local development values. Compose supplies container-internal endpoints where required.
IDENTITY_GATEWAY_ISSUER_URL=http://localhost:8080/realms/enterprise
IDENTITY_GATEWAY_JWKS_URL=http://localhost:8080/realms/enterprise/protocol/openid-connect/certs
IDENTITY_GATEWAY_AUDIENCE=identity-gateway
IDENTITY_GATEWAY_CLIENT_ID=identity-gateway
IDENTITY_GATEWAY_UPSTREAM_URL=http://protected-service:8001
IDENTITY_GATEWAY_JWKS_CACHE_SECONDS=300
IDENTITY_GATEWAY_UNKNOWN_KID_REFRESH_SECONDS=30
IDENTITY_GATEWAY_ALLOWED_CLOCK_SKEW_SECONDS=30
IDENTITY_GATEWAY_MAX_ACCESS_TOKEN_AGE_SECONDS=900
IDENTITY_GATEWAY_MAX_TOKEN_BYTES=16384
IDENTITY_GATEWAY_REQUEST_TIMEOUT_SECONDS=5
IDENTITY_GATEWAY_SERVICE_CLIENT_IDS='["automation-service"]'
IDENTITY_GATEWAY_ALLOWED_ORIGINS='["http://localhost:3000"]'
IDENTITY_GATEWAY_BACKCHANNEL_LOGOUT_AUDIENCE=command-center
IDENTITY_GATEWAY_BACKCHANNEL_LOGOUT_MAX_AGE_SECONDS=120

KEYCLOAK_ADMIN_PASSWORD=local-admin-password
IDENTITY_PUBLIC_KEYCLOAK_URL=http://localhost:8080
IDENTITY_KEYCLOAK_PORT=8080
IDENTITY_GATEWAY_PORT=8000
IDENTITY_PKCE_PORT=3000
