IDENTITY_GATEWAY_ISSUER_URL=http://keycloak:8080/realms/enterprise
IDENTITY_GATEWAY_JWKS_URL=http://keycloak:8080/realms/enterprise/protocol/openid-connect/certs
IDENTITY_GATEWAY_AUDIENCE=identity-gateway
IDENTITY_GATEWAY_CLIENT_ID=identity-gateway
IDENTITY_GATEWAY_UPSTREAM_URL=http://protected-service:8001
IDENTITY_GATEWAY_INTERNAL_SHARED_SECRET=local-internal-secret
KEYCLOAK_ADMIN_PASSWORD=local-admin-password
